{% extends "base.html" %}
{% block initial_content %}
    <tr>
        <td style="height: 653px;">
            <div class="login_body_k">
                <div class="login_body_sub_k" style="padding-left: 5px; margin-top: -10px;">
                    <h2 style="margin: 20px 0;">Yeni Kullanıcı Aktivasyonu</h2>
                    <strong>Sayın {{ lastname }},</strong>
                    <br/>
                    Hesabınız aktif hale getirildi.
                    <br/>
                    E-posta adresi ve parolanızı kullanarak giriş yapabilirsiniz.
                </div>
            </div>
        </td>
	</tr>
{% endblock %}

