{% extends 'base.html' %}
{% block title %}Kullanıcı Paneli - Hesap Düzenleme Formu{% endblock %}
{% block content %}
    <div class="int" id='form'>
        <h2 class="h2">Şifre Değiştirme Formu</h2>
        <form id="CdnForm" method="post" action="">
            {% csrf_token %}
            <ul>
                {% include 'base_form.html' %}
                <li><input type="submit" name='changepass' class="submit" value="Düzenle"></li>
            </ul>
        </form>
    </div>
{% endblock %}