<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<base href="http://static.gostream.com/" />
		<link href="http://static.gostream.com/css/style.css" rel="stylesheet" type="text/css" media="screen" />
	</head>
	<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
		<table width="800" height="956" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td height="874" colspan="8" valign="top" background="http://static.gostream.com/images/mail_confirmation.jpg">
		        <div style="height:20px; width:320px; margin-top:370px; margin-left:240px;"> e-posta : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ email }} </div>
		        <div style="height:20px; width:320px; margin-top:0px; margin-left:240px;"> şifre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ password }}</div>
		    </td>
		  </tr>

		</table>
	</body>
</html>
