{% extends "email/mail_template.html" %}
{% block content %}
<table width="650" height="348" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top" width="620" height="318" background="{{ bodi }}" style="overflow: hidden;">
            <div>
               <div style="height: 150px;"></div>
                <p style="padding: 0 20px;"><strong><big>Sayın {{ user.get_full_name }},</big></strong></p>
                <p style="padding: 0 20px;">Yeni şifrenizi belirlemek için alttaki bağlantıyı tıklayın.</p>
                {% block reset_link %}
                    <a style="color: #4D1037; padding: 0 20px;" href="{{ protocol }}://{{ domain }}{% url member_password_reset_confirm uidb36=uid token=token %}">{{ protocol }}://{{ domain }}{% url member_password_reset_confirm uidb36=uid token=token %}</a>
                {% endblock %}
                <br>
                <a style="color: #4D1037; padding: 0 20px;" href="http://{{ domain }}">{{ site_name }}</a>
            </div>
        </td>
      </tr>
</table>
{% endblock %}

